<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">

<head>
    <script src="/components/head.js" type="text/javascript" defer></script>
    <reusable-head></reusable-head>
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
    <script src="/components/nav.js" type="text/javascript" defer></script>
    <script src="/public/JavaScript/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/dist/tailwind.css">
    <link rel="shortcut icon" href="/public/assets/bon_travel_favicon_v.2.png">

    <title>Algemene voorwarden | Bon travel</title>

</head>


<body class="box-border p-0 m-0 font-bon-font selection:bg-bon-geel w-full">

    
    <reusable-header></reusable-header>


    <reusable-nav></reusable-nav>

    
    <section class="w-full mt-52 mb-20 text-bon-zwart">


        <div class="m-32">
            
            <div class="my-5">

                <h1 class="text-2xl font-extrabold mb-1">Reisvoorwaarden</h1>
        
                <p>Reisbureau Bon travel B.V. (KvK 50938312) is aangesloten bij de VvKR en het garantiefonds van de SGR.</p>
            
            </div>

            <div class="my-5">

                <h1 class="text-2xl font-extrabold mb-1">Actief op reis met soms een avontuurlijk karakter</h1>
        
                <p>Veel van de reizen van Bon travel hebben een actief en soms ook avontuurlijk karakter. Door lokale omstandigheden – zoals het weer – kan het noodzakelijk zijn dat de lokale gids of reisbegeleider het aangeboden (wandel) programma moet aanpassen. Dit gebeurt in overleg met de reizigers waarbij wij onze uiterste best doen de kwaliteit van de reis te handhaven. Het oordeel van de lokale gids en/of reisbegeleider is hierbij altijd doorslaggevend. Reizigers zijn verplicht een verzekering te hebben die ziektekosten in het buitenland en eventuele repatriëringskosten dekt. Polisnummer en alarmnummer van de verzekeringsmaatschappij dienen voor vertrek te worden doorgegeven. Reisbureau Bon travel B.V. heeft een door de VvKR goedgekeurde aansprakelijkheidsverzekering voor de reisbranche bij Allianz.</p>
            
            </div>
            
            
            <div class="my-5">

                <h1 class="text-2xl font-extrabold mb-1">Belangrijk: annulering</h1>
        
                <h2 class="text-lg font-extrabold">Opzegging door de reiziger</h2>
                
                <div>

                    <p>
                        De reiziger kan de reisovereenkomst opzeggen. Doet hij dat dan is hij verplicht om aan de reisorganisator de schade te vergoeden die deze ten gevolge van de opzegging lijdt. Deze bedraagt maximaal eenmaal de reissom.
                        De reisorganisator kan deze schade fixeren op vaste percentages van de reissom afhankelijk van het tijdstip van opzegging (annuleringskosten). Deze percentages dient de reisorganisator voorafgaand aan het sluiten van de reisovereenkomst aan de reiziger kenbaar te maken.
                        De reiziger die de reisovereenkomst opzegt, is gehouden deze annuleringskosten te voldoen, tenzij hij aannemelijk maakt dat de schade van de reisorganisator lager is uitgevallen. In dat geval zal de reisorganisator deze lagere schade in rekening brengen. Onder schade wordt verstaan geleden verlies en gederfde winst.
                        Reizen naar een gebied waarvoor een door de Calamiteitencommissie van het Calamiteitenfonds vastgestelde dekkingsbeperking dan wel uitkeringsvatbare situatie geldt, kunnen door de reiziger vanaf 30 kalenderdagen voor vertrek kosteloos worden opgezegd of, indien mogelijk en gewenst, omgeboekt.
                    </p>
            
                    <div class="my-3">
                        <p>Kosten bij annulering:</p>
                        <ul class="list-disc ml-4">
                            <li> tot 8 weken voor de vertrek dag: de reiziger betaalt de aanbetaling.</li>
                            <li> uiterlijk 6 weken voor de vertrekdag: de reiziger betaalt 35% van de reissom.</li>
                            <li> uiterlijk 4 weken voor de vertrekdag: de reiziger betaalt 50% van de reissom.</li>
                            <li> uiterlijk 2 weken voor de vertrekdag: de reiziger betaalt 75% van de reissom.</li>
                            <li> uiterlijk 1 week voor de vertrekdag: de reiziger betaalt 90% van de reissom.</li>
                            <li> korter dan 7 dagen voor de vertrekdag, op de vertrekdag zelf en vanaf de dag van vertrek:
                                de reiziger betaalt de hele reissom 100%.</li>
                        </ul>
                        <p>Om problemen te voorkomen doet de reiziger er verstandig aan om naast een verplichte en passende reisverzekering ook een annuleringsverzekering af te sluiten.</p>
                    </div>
                    
                    <div class="my-3">
                        <p>Waar in de reisvoorwaarden gesproken wordt over of verwezen wordt naar de volgende omschrijvingen is het volgende van toepassing:</p>
                        <ul class="list-disc ml-4">                       
                            <li> De reisorganisator: Reisbureau Bon travel B.V., gevestigd Anna Spenglerstraat 79, 1054 NH Amsterdam en ingeschreven bij de Kamer van Koophandel te Den Haag onder nummer: 50938312;</li>
                            <li> De reiziger: natuurlijke persoon die gebruik wenst te maken van de door Reisbureau Bon travel aangeboden reizen;</li>
                            <li> Medereiziger en medereizigers: de natuurlijke persoon of personen die gezamenlijk met- en namens wie de reiziger gebruik wenst te maken van de door Reisbureau Bon travel aangeboden diensten;</li>
                            <li> De reisbegeleider: de natuurlijke persoon die namens Bon travel lokaal de reis begeleidt; hieronder wordt zowel een Nederlandse reisbegeleider (hij of zij) verstaan als een lokale gids;</li>
                            <li> De overeenkomst: overeenkomst waarbij de reisorganisator zich naar de tegenpartij verbindt tot het verschaffen van een door hem aangeboden reis.</li>
                            <li> Eigen-vervoerreizen: reizen waarbij de reiziger het vervoer van– en naar het land van bestemming zelf organiseert.</li>
                            <li> De website: www.bontravel.nl</li>
                        </ul>
                    </div>
            
                    <p>Daar waar in deze algemene reisvoorwaarden de reiziger als “hem, zijn of hij” wordt genoemd, wordt eveneens “haar of zij” bedoeld.</p>
                
                </div>
            
            </div>
            
            
            <div class="my-5">

                <h1 class="text-2xl font-extrabold mb-1">Informatie en verplichtingen van de reiziger</h1>
        
                <p>De reiziger moet aan de reisorganisator alle nuttige inlichtingen verstrekken die hem uitdrukkelijk gevraagd worden. Wanneer de reiziger verkeerde inlichtingen verstrekt en dit tot extra kosten leidt voor de reisorganisator, mogen die kosten in rekening worden gebracht. De reiziger is verplicht relevante persoonlijke omstandigheden die van invloed kunnen zijn op de reisuitvoering (ziekte/handicap, e.d.) voor boeking kenbaar te maken. Deze verplichting geldt ook voor medereizigers als de reiziger namens 1 of meer medereizigers een overeenkomst aangaat. De reizigers en zijn medereizigers zijn gehouden een passende reisverzekering af te sluiten en voor vertrek de betreffende gegevens (naam verzekeringsmaatschappij, polisnummer en alarmnummer) aan de reisorganisator te</p>
            
            </div>
            
            
            <div class="my-5">

                <h1 class="text-2xl font-extrabold mb-1">Overdraagbaarheid van de boeking</h1>
        
                <p>
                    De reiziger kan, voor aanvang van de reis, zijn reis overdragen aan een derde, die wel moet voldoen aan alle voorwaarden van de overeenkomst met de reisorganisator. De overdrager dient tijdig voor vertrek de reisorganisator van deze overdracht op de hoogte te brengen. De aanmelder, de overdragende reiziger en de overnemer zijn hoofdelijk gehouden tot de betaling van de totaalprijs van de reis en de kosten van de overdracht.
                    De kosten gemoeid met deze overdracht bedragen per persoon:
                </p>

                <ul class="list-lowerAlpha ml-5">
                    <li>tot 31 dagen voor het vertrek: 25 euro, plus de eventuele extra kosten verschuldigd aan de vervoersmaatschappij die met deze overdracht gepaard gaan.</li>
                    <li>vanaf 30 dagen voor het vertrek: 75 euro, plus de eventuele extra kosten verschuldigd aan de vervoersmaatschappij die met deze overdracht gepaard gaan.</li>
                </ul>

            </div>
            
            
            <div class="my-5">
                <h1 class="text-2xl font-extrabold mb-1">Andere wijzigingen door de reiziger</h1>
        
                <p>Vraagt de reiziger om een andere wijziging waardoor extra kosten worden veroorzaakt dan mag de reisorganisator deze kosten in rekening brengen. Onder wijzigingen wordt verstaan: wijziging van reisdata en/of bestemming, plus de eventuele extra kosten verschuldigd aan de vervoersmaatschappij die met deze overdracht gepaard gaan. De reisorganisator aanvaardt wijzigingen in de mate van het mogelijke, tot 31 dagen voor vertrek, op voorwaarde van betaling van 75 euro aan administratiekosten, plus de eventuele extra kosten verschuldigd aan de vervoersmaatschappij die met deze overdracht gepaard gaan. Vanaf 8 weken voor vertrek zijn de annuleringsvoorwaarden en kosten van toepassing. Uitstel van de vertrekdatum of vermindering van het aantal betalende passagiers wordt beschouwd als een (deel-) annulering.</p>
            </div>
            
            
            <div class="my-5">
                <h1 class="text-2xl font-extrabold mb-1">Wijziging door de reisorganisator voor de start van de reis</h1>
        
                <p>Indien voor aanvang van de reis één van de wezenlijke punten van de overeenkomst niet kan worden uitgevoerd, informeert de reisorganisator de reiziger hierover zo spoedig mogelijk en in elk geval voor aanvang van de reis. De reisorganisator informeert de reiziger over de mogelijkheid de overeenkomst te verbreken zonder kosten. De reiziger dient zo spoedig mogelijk, en in elk geval voor aanvang van de reis de reisorganisator te informeren of hij de gewijzigde reis inclusief de mogelijk daarbij behorende extra kosten al dan niet aanvaardt. Als de reiziger de wijziging aanvaardt geldt dit als een nieuwe overeenkomst.</p>
            </div>
        </div>
    
    </section>


<reusable-footer></reusable-footer>


</body>
</html>