<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">

<head>
    <script src="../../components/head.js" type="text/javascript" defer></script>
    <reusable-head></reusable-head>
    <script src="../../components/header.js" type="text/javascript" defer></script>
    <script src="../../components/footer.js" type="text/javascript" defer></script>
    <script src="../../components/nav.js" type="text/javascript" defer></script>
    <script src="../../components/bestemmingen.js" type="text/javascript" defer></script>
    <script src="../../public/JavaScript/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="shortcut icon" href="../../public/assets/bon_travel_favicon_v.2.png">

    <title>Bestemmingen | Bekijk onze topbestemmingen voor 2023! | Bon travel</title>

</head>


<body class="box-border p-0 m-0 font-bon-font selection:bg-bon-geel w-full">

    
    <reusable-header></reusable-header>


    <reusable-nav></reusable-nav>
    

    <reusable-bestemmingen></reusable-bestemmingen>


    <reusable-footer></reusable-footer>


</body>
</html>
