<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">

<head>
    <script src="../../components/head.js" type="text/javascript" defer></script>
    <reusable-head></reusable-head>
    <script src="../../components/header.js" type="text/javascript" defer></script>
    <script src="../../components/footer.js" type="text/javascript" defer></script>
    <script src="../../components/nav.js" type="text/javascript" defer></script>
    <script src="../../public/JavaScript/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="shortcut icon" href="../../public/assets/bon_travel_favicon_v.2.png">

    <title>Neem contact met ons op | Bon travel</title>

</head>


<body class="box-border p-0 m-0 font-bon-font selection:bg-bon-geel w-full">

    
    <reusable-header></reusable-header>


    <reusable-nav></reusable-nav>

    
    <section class="w-full mt-52 mb-20 text-bon-zwart">
        
        <div id="contact" class="m-32">
            
            <div id="contact-titel">
    
                <h1 class="text-2xl font-extrabold tracking-wide">Neem makkelijk contact met ons op!</h1>
    
                <p class="mt-2 mb-6">Wil je meer informatie of (op maat) advies? Bel of mail ons dan gerust. Persoonlijk contact vinden wij bij Bon travel erg belangrijk. Wij helpen u graag verder.</p>
    
            </div>       
            
            <div id="contact-contact" class="m-16 flex justify-center gap-10 max-md:flex-wrap">
                
                <div class="basis 1/2">

                    <div class="flex justify-center">
                        <h3 class="text-xl font-extrabold">Uw vraag of opmerking:</h3>                   
                        <!-- <h3 class="text-xl font-extrabold">Stuur ons een formulier:</h3>                    -->
                    </div>
    
                    <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

                    <form class="contact-contact-form flex justify-center mt-28 max-md:mt-0">
                        <input type="submit" value="Versturen" class="bg-bon-blau-donker text-bon-wit cursor-pointer px-16 py-4 m-3 rounded-xl hover:bg-bon-geel hover:scale-105 hover:duration-300 hover:shadow-xl z-40">
                    </form>

                    <div class="flex justify-center">
                        <hr class="border border-bon-blau-donker w-1/2 rounded-b-lg my-2">
                    </div>

                </div>
                
                <div id="contact-contact-form" class="basis-1/2">
                    
                    <div id="contact-contact-form-inputs" class="max-md:w-80">

                        <form class="contact-contact-form flex mb-3 max-xl:flex-col">
                            <label for="voornaam" class="w-1/6">Voornaam:</label>
                            <input type="text" placeholder="Voornaam" id="voornaam" class="w-full border-2 rounded-md p-1 focus:border-bon-geel outline-none text-bon-zwarter" required>
                        </form>
    
                        <form class="contact-contact-form flex mb-3 max-xl:flex-col">
                            <label for="achternaam" class="w-1/6">Achternaam:</label>
                            <input type="text" placeholder="Achternaam" id="achternaam" class="w-full border-2 rounded-md p-1 focus:border-bon-geel outline-none text-bon-zwarter" required>
                        </form>
    
                        <form class="contact-contact-form flex mb-3 max-xl:flex-col">
                            <label for="email" class="w-1/6">Email:</label>
                            <input type="text" placeholder="Email" id="email" class="w-full border-2 rounded-md p-1 focus:border-bon-geel outline-none text-bon-zwarter" required>
                        </form>
    
                        <form class="contact-contact-form flex mb-3 max-xl:flex-col">
                            <label for="onderwerp" class="w-1/6">Onderwerp:</label>
                            <input type="text" placeholder="Onderwerp" id="onderwerp" class="w-full border-2 rounded-md p-1 focus:border-bon-geel outline-none text-bon-zwarter" required>
                        </form>
    
                        <form class="contact-contact-form flex mb-3 max-xl:flex-col">
                            <label for="vraag" class="w-1/6">Vraag:</label>
                            <textarea type="textarea" placeholder="Uw vraag of opmerking" id="vraag" rows="5" cols="50" maxlength="" class="min-h-130px w-full border-2 rounded-md p-1 focus:border-bon-geel outline-none text-bon-zwarter" required></textarea>
                        </form>
    
                        <!-- <form class="contact-contact-form flex justify-center">
                            <input type="submit" value="Versturen" class="bg-bon-blau-donker text-bon-wit cursor-pointer px-16 py-4 m-3 rounded-xl hover:bg-bon-geel hover:scale-105 hover:duration-300 hover:shadow-xl z-40">
                        </form> -->
    
                    </div>
                
                </div>
                
            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

            <div id="contact-info">

                <h1 class="text-2xl font-extrabold tracking-wide">Contactgegevens</h1>  

                <div class="flex justify-evenly my-5 mb-16 max-md:flex-wrap max-md:gap-10">
                    
                    <div class="info-box group p-10 rounded border-2 hover:border-bon-blau-donker hover:shadow-xl hover:duration-300">
                        
                        <i class="fa-solid fa-location-dot group-hover:text-bon-geel group-hover:duration-1000"></i>
                        
                        <div id="inhoud">
                            
                            <p class="font-bold">Bon travel</p>
                            <p>Anna Spenglerstraat 79</p>
                            <p>1054 NH Amsterdam</p>
    
                        </div>
    
                    </div>
    
                    <div class="info-box group p-10 rounded border-2 hover:border-bon-blau-donker hover:shadow-xl hover:duration-300">
    
                        <i class="fa-solid fa-envelope group-hover:text-bon-geel group-hover:duration-1000"></i>
    
                        <div id="inhoud">
    
                            <h4 class="font-bold">Email ons</h4>
    
                            <a href="mailto:info@bontravel.com" class="hover:text-bon-geel duration-300 py-3">info@bontravel.com</a>
    
                        </div>
    
                    </div>
    
                    <div class="info-box group p-10 rounded border-2 hover:border-bon-blau-donker hover:shadow-xl hover:duration-300">
    
                        <i class="fa-solid fa-phone group-hover:text-bon-geel group-hover:duration-1000"></i>
    
                        <div id="inhoud">
    
                            <h4 class="font-bold">Bel ons</h4>
    
                            <a href="tel:+3163781317" class="hover:text-bon-geel duration-300 py-3">+31 6 3781317</a>
                            
                        </div>
                        
                    </div>

                </div>

            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

        </div>

    </section>


    <reusable-footer></reusable-footer>

</body>
</html>
