<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">

<head>
    <script src="../../components/head.js" type="text/javascript" defer></script>
    <reusable-head></reusable-head>
    <script src="../../components/header.js" type="text/javascript" defer></script>
    <script src="../../components/footer.js" type="text/javascript" defer></script>
    <script src="../../components/nav.js" type="text/javascript" defer></script>
    <script src="../../public/JavaScript/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="shortcut icon" href="../../public/assets/bon_travel_favicon_v.2.png">

    <title>Over ons | Bon travel</title>

</head>


<body class="box-border p-0 m-0 font-bon-font selection:bg-bon-geel w-full">

    
    <reusable-header></reusable-header>


    <reusable-nav></reusable-nav>

    
    <section class="w-full mt-52 mb-20 text-bon-zwart">

        <div id="over-ons" class="flex flex-col items-center m-32">
            
            <div id="over-ons-hallo" class="p-5 max-md:w-56">
                <h1 class="text-2xl font-extrabold tracking-wide">Hallo!</h1>
                <p class="mt-2 mb-6">Maak hier alvast kennis met het team Bon travel. Wij - Patricia, Walter en Maartje zijn een team van bijzondere en fijne mensen die helemaal gek zijn op het reizen. Ons doel is u het mooiste van de wereld laten zien en beleven en dit te delen met onze klanten en reizigers.</p>
                <a href="#over-ons-team" class="bg-bon-blau-donker text-bon-wit cursor-pointer px-5 py-2 m-3 rounded-xl hover:bg-bon-geel hover:scale-105 hover:duration-300 hover:shadow-xl z-40">Ontdek ons team</a>
            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

            <div id="over-ons-inhoud" class="p-5 max-md:items-center">
                
                <div id="over-ons-titel" class="max-md:flex max-md:flex-col max-md:w-3/4 ">
                    
                    <h1 class="text-lg font-extrabold">Welkom bij Bon travel!</h1>                                          
                    
                    <p class="mt-2 mb-6 leading-6">
                        Vakantie is de mooiste tijd van het jaar. Wat is leuker dan onbekommerd genieten van andere culturen, een bezoek aan een boeiende stad te brengen of te relaxen op een prachtig strand met de zon op je huid? Kortom, te genieten van de dingen die het leven zo prettig maken. Wij doen er alles aan om onze reizigers een onvergetelijke vakantie te bezorgen. 'Live adventurous' is ons streven. We doen dan ook graag een stapje extra om de verwachtingen van onze gasten te overtreffen.
                        <br>Welkom op de website van Bon Travel! De gespecialiseerde reisorganisatie voor wereldwijde vakanties met vestiging in Amsterdam. Op deze website vind je informatie over reisbestemmingen en algemene informatie over reizen naar bijzondere plekken. Bedoeld voor zowel de beginnende als gevorderde reizigers.
                        Wij hebben maar tien jaar ervaring met het samenstellen en verkopen van reizen. Bijna alle bestemmingen binnen ons aanbod hebben we persoonlijk bezocht.       
                        Wij zijn continu bezig met het vernieuwen en uitbreiden van ons aanbod. Wil je hierover meer weten, meld je dan aan voor onze nieuwsbrief. Zo blijf je op de hoogte van de nieuwste bestemmingen, de mooiste aanbiedingen en de interessantste wetenswaardigheden.       
                        Veel plezier op de site en misschien komen we elkaar nog eens tegen, in de wereld!       
                        <br>Het team Bon travel 
                    </p>

                </div>
        
                <div id="over-ons-contact" class="flex justify-evenly m-20 max-md:flex-col max-md:gap-10">
                    
                    <div id="over-ons-contact-opnemen" class="mt-20">
                        <div id="over-ons-contact-button" class="">
                            <a href="../../views/pages/contact.html" id="over-ons-contact-button-inhoud" class="bg-bon-blau-donker text-bon-wit cursor-pointer px-5 py-2 m-3 rounded-xl hover:bg-bon-geel hover:scale-105 hover:duration-300 hover:shadow-xl z-40" target="_blank">Neem snel contact met ons op!</a>
                        </div>
                    </div>

                    <div id="over-ons-contact-adres" class="group flex flex-col gap-1 mt-1 drop-shadow-md border-bon-blau-donker border-2 rounded-2xl p-7">
                        <div class="flex gap-3">
                            <i class="fa-solid fa-location-dot group-hover:text-bon-geel group-hover:duration-1000"></i>
                            <h4 class="font-extrabold text-lg">Ons adres</h4>
                        </div>
                        <p>Bon travel</p>
                        <p>Anna Spenglerstraat 79</p>
                        <p>1054 NH Amsterdam</p>
                        <a href="mailto:info@bontravel.com" class="hover:text-bon-geel duration-300">info@bontravel.com</a>
                        <a href="tel:+3163781317" class="hover:text-bon-geel duration-300">+31 6 3781317</a>
                    </div>

                </div>

            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

            <div id="over-ons-team" class="scroll-mt-44">
                
                <h1 class="text-2xl font-extrabold">Ontmoet ons team!</h1>
                
                <div id="over-ons-patricia" class="my-20 max-md:flex max-md:flex-col max-md:items-center">
                    
                    <div class="flex max-md:flex-col">
                        <img src="../../public/assets/about_us_profile_2.jpg" alt="" class="w-32 h-32 object-cover rounded-full">
                        <div class="flex flex-col">
                            <h1 class="mt-20 max-md:mt-0 p-3 font-extrabold text-lg">Patricia</h1>
                            <h2 class="font-extrabold text-xs">CEO / Directeur / Reisexpert</h2>
                        </div>
                    </div>

                    <hr class="border border-bon-blau-donker w-1/4 rounded-b-lg flex justify-center my-4">

                    <p class="text-sm w-1/2">Patricia is de directeur en oprichter van het bedrijf Bon travel. "Samen gaan we op reis al 10 jaren!" "Ik reisde altijd heel vaak en graag. Reizen is mijn harte passie en daarom vind ik het belangrijk om dit gevoel met andere mensen te delen, ook via dit reisbureau." Zij vindt het leuk om met andere potentionele reizigers te delen hoe belangrijk en toegankelijk het reizen is en dat ook laten zien in onze aanbod. "Reizen hoef geen last te zijn, het is eigenlijk heel makkelijk!" Haar ambities en plannen voor de toekomst zijn nooit te gek "Waar ik het volgende ga is zeker een reisje naar de maan. Dat moet iedereen eens beleven!"</p>
                
                </div>

                <div id="over-ons-walter" class="my-20 max-md:flex max-md:flex-col max-md:items-center">
                    
                    <div class="flex max-md:flex-col">
                        <img src="../../public/assets/about_us_profile.jpg" alt="" class="w-32 h-32 object-cover rounded-full">
                        <div class="flex flex-col">
                            <h1 class="mt-20 max-md:mt-0 p-3 font-extrabold text-lg">Walter</h1>
                            <h2 class="font-extrabold text-xs">Reisexpert</h2>
                        </div>
                    </div>

                    <hr class="border border-bon-blau-donker w-1/4 rounded-b-lg flex justify-center my-4">

                    <p class="text-sm w-1/2">Walter is ons reisexpert en specialiste in het gebied reisbestemmingen. "Met 25 heb ik al de hele wereld rondgereisd! Het is mij ook gelukt om mee te doen aan twee weken lange expeditie naar Antarctica. Het was heel spannend!" Met zijn jarenlange ervaringen zet hij zich om zijn klanten effectief en snel kunnen helpen. "Ik geef graag een reisadvies aan mensen die willen reizen maar weten niet waar naar toe. Met mijn jarenlange ervaring in het gebied reizen kunnen we samen zeker een reisje samestellen." </p>
                
                </div>

                <div id="over-ons-maartje" class="my-20 max-md:flex max-md:flex-col max-md:items-center">
                    
                    <div class="flex max-md:flex-col">
                        <img src="../../public/assets/about_us_profile1.jpg" alt="" class="w-32 h-32 object-cover rounded-full">
                        <div class="flex flex-col">
                            <h1 class="mt-20 max-md:mt-0 p-3 font-extrabold text-lg">Maartje</h1>
                            <h2 class="font-extrabold text-xs">Reisexpert / HR</h2>
                        </div>
                    </div>

                    <hr class="border border-bon-blau-donker w-1/4 rounded-b-lg flex justify-center my-4">

                    <p class="text-sm w-1/2">Maartje is niet alleen onze fijne reisexpert, maar ook een belangrijke punt bij onze HR afdeling. "Reizen vind ik heel leuk, net als nummers en management. Waarom dus niet alles samenbrengen in het een? Mijn functie van boekhouder en HR manager in het bedrijf vind ik enorm belangrijk. Daarnaast kan ik makkelijk een praatje met mijn collegas hebben over mijn grootste hobby - reizen." Maartje heeft een groote deel van de wereld rondgereisd en blijft zich specialiseren in continenten Azië en Zuid-Amerika. "Ik reisde veel naar Zuid-Amerika niet alleen omdat mijn familie daar vandaan komt maar vooral voor de prachtige cultuur! In Zuid-Amerika en Azië heb ik alle landen gezien! Ik wil zeker mijn kennis verbreiden met meer avonturen in Oceanië."</p>
                
                </div>

            </div>
        </div>    
        
    </section>

    <reusable-footer></reusable-footer>

</body>
</html>
