<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">

<head>
    <script src="../../components/head.js" type="text/javascript" defer></script>
    <reusable-head></reusable-head>
    <script src="../../components/header.js" type="text/javascript" defer></script>
    <script src="../../components/footer.js" type="text/javascript" defer></script>
    <script src="../../components/nav.js" type="text/javascript" defer></script>
    <script src="../../public/JavaScript/script.js" type="text/javascript" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../dist/tailwind.css">
    <link rel="shortcut icon" href="../../public/assets/bon_travel_favicon_v.2.png">

    <title>Privacybeleid | Bon travel</title>

</head>


<body class="box-border p-0 m-0 font-bon-font selection:bg-bon-geel w-full">


    <reusable-header></reusable-header>


    <reusable-nav></reusable-nav>


    <section class="w-full mt-52 mb-20 text-bon-zwart">
        
        <div id="privacybeleid" class="m-32">
            
            <div id="privacybeleid-1" class="my-5">
                
                <h1 class="text-2xl font-extrabold tracking-wide">Privacybeleid</h1>

                <div class="mt-3 mb-7">
                    <p>In het privacybeleid kunt u lezen met welke doeleinden Bon travel B.V. persoonsgegevens opvraagt en welke informatie er met de partners wordt gedeeld. Met de verwerking van persoonsgegevens wil Bon travel B.V. u als klant beter leren kennen, om u in de toekomst nog beter van dienst te kunnen zijn.</p>
                    <br>
                    <p>Bon travel B.V. respecteert hierbij de privacy van u als websitebezoeker en draagt er zorg voor dat de persoonsgegevens die u ons verschaft vertrouwelijk worden behandeld. Verwerking van uw persoonsgegevens gebeurt in overeenstemming met de eisen die de Wet Bescherming Persoonsgegevens stelt.</p>
                    <br>
                    <p>Als u van mening bent dat ons handelen niet in overeenstemming is met de wet of ons privacybeleid, kunt u contact opnemen via het volgende adres:</p>
                </div>
                
                <div class="leading-7">
                    <p class="font-extrabold">Bon travel B.V.</p>
                    <p>Anna Spenglerstraat 79</p>
                    <p>1054 NH Amsterdam</p>
                </div>

            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

            <div id="privacybeleid-2" class="my-5">
                
                <h1 class="text-xl font-extrabold">Waarom de cookiemelding?</h1>
                
                <div class="mt-3 mb-7">

                    <p>Op de website maakt Bon travel B.V. gebruik van cookies. Een cookie is een klein bestand dat verstuurd wordt door een internetserver en dat zich op de vaste schijf van uw computer installeert. Dit bestand houdt de sporen bij van de door uw bezochte internetsites en bevat een aantal gegevens over deze bezoeken. Via deze cookies kan Bon travel B.V. geen persoonsgegevens van u achterhalen die betrekking hebben tot u als individu. Wel verzamelt en bundelt Bon travel B.V. gegevens van alle websitebezoekers om websitestatistieken op te stellen, waardoor Bon travel B.V. de website voor u kan verduidelijken en verbeteren. Voor het gebruik van cookies, moet Bon travel B.V. volgens de Nederlandse wet bescherming persoonsgegevens uw toestemming vragen:</p>
                    
                    <br>
                    
                    <ul class="list-disc mx-20">
                        
                        <li>Functionele cookies: om de website goed te laten werken en u als bezoeker bij herhaaldelijk bezoek te herkennen, maakt Bon travel B.V. gebruik van functionele cookies. Deze cookies bewaren bijvoorbeeld de gegevens die u invult op de webformulieren, zodat u deze bij een volgend bezoek al voor u ingevuld worden;</li>
                        
                        <br>
                        
                        <li>Analytische cookies: met het accepteren van de cookies op de website van Bon travel B.V. gaat u ermee akkoord dat uw gedrag op de website door middel van cookies met analytische partners anoniem wordt gedeeld, zodat Bon travel B.V. aan de hand van bezoekersstatistieken de website kan ontwikkelen en verbeteren;</li>
                       
                        <br>
                        
                        <li>Tracking cookies: met het accepteren van de cookies op de website van Bon travel B.V. gaat u ermee akkoord dat uw gedrag op de website door middel van cookies met advertentiepartners wordt gedeeld, zodat Bon travel B.V. u na het bezoeken van de website advertenties kan tonen via de advertentienetwerken van deze partners.</li>
                    
                    </ul>

                </div>
                    
            </div>
        
            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">

            <div id="privacybeleid-3" class="my-5">
                <h1 class="text-xl font-extrabold">Welke persoonsgegevens verzamelt en deelt Bon travel B.V. met partners?</h1>
                
                <p class="mt-3 mb-7">Bij ieder bezoek aan de website van Bon travel B.V. wordt automatisch uw IP-adres geregistreerd om misbruik te voorkomen en fraude tegen te gaan. Na het accepteren van de cookies worden de volgende gegevens verzameld en gedeeld met partners. De verkregen informatie wordt anoniem overgedragen aan partners en opgeslagen op servers buiten Nederland. In het privacybeleid van de partners kunt u lezen wat er met deze gegevens gebeurt. Deze gegevens worden niet aan derden verschaft, tenzij Bon travel B.V. of de partners hier wettelijk toe worden verplicht.</p>
                
                <table>

                    <thead>

                        <tr>

                            <th></th>

                            <th class="text-lg font-bold">Persoonsgegevens</th>

                            <th class="text-lg font-bold">Doeleinden</th>

                        </tr>

                    </thead>

                    <tbody">

                        <tr>

                            <td><a href="www.facebook.com" class="text-bon-geel">Facebook</a> (<a href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0" class="text-bon-geel">privacybeleid</a>)</td>

                            <td>Bon travel B.V. verzamelt via cookies anonieme gegevens over uw gedrag op de website in relatie tot uw gedrag op Facebook.</td>
                            
                            <td>

                                <ul class="list-disc p-7">
                                    
                                    <li>Het registreren van websitebezoeken om (mogelijk) gepersonaliseerde advertenties via het netwerk van Facebook te tonen (Retargeting);</li>
                                    
                                    <li>Het bijhouden van statistieken over het aantal likes, reacties en deelacties van informatie op de Bon travel B.V. website op Facebook.</li>
                                
                                </ul>

                            </td>

                        </tr>

                        <tr>
                            
                            <td><a href="www.google.com" class="text-bon-geel">Google</a> (<a href="https://policies.google.com/privacy?hl=nl&gl=nl" class="text-bon-geel">privacybeleid</a>)</td>
                            
                            <td>Bon travel B.V. verzamelt via cookies anonieme gegevens over uw gedrag op de website en deelt deze met Google+, Google Adwords, Google Analytics en Google Webmaster Tools.</td>
                            
                            <td>
                                
                                <ul class="list-disc p-7">
                                    
                                    <li>Het bijhouden van statistieken over het aantal +1’s, reacties en deelacties van informatie op de Bon travel B.V. website op Google+;</li>
                                    
                                    <li>Het registreren van websitebezoeken om (mogelijk) gepersonaliseerde advertenties via het netwerk van Google Adwords te tonen (Retargeting);</li>
                                    
                                    <li>Het inzichtelijk maken van bezoekersgedrag om de Bon travel B.V. website te verbeteren, duidelijker en overzichtelijker te maken;</li>
                                    
                                    <li>Het inzichtelijk maken van zoekgedrag op de Google zoekmachine om de Bon travel B.V. website beter vindbaar te maken;</li>
                                
                                </ul>

                            
                            </td>
                        </tr>

                        <tr>
                           
                            <td><a href="www.hotjar.com" class="text-bon-geel">Hotjar</a> (<a href="https://www.hotjar.com/privacy/" class="text-bon-geel">privacybeleid</a>)</td>
                            
                            <td>Bon travel B.V. verzamelt via cookies anonieme gegevens over uw gedrag op de website en deelt deze met Hotjar.</td>
                            
                            <td>
                               
                                <ul class="list-disc p-7">
                                    
                                    <li>Het inzichtelijk maken van bezoekersgedrag om de Bon travel B.V. website te verbeteren, duidelijker en overzichtelijker te maken;</li>
                                
                                </ul>
                            
                            </td>
                        
                        </tr>

                        <tr>
                            
                            <td><a href="www.microsoft.com" class="text-bon-geel">Microsoft</a> (<a href="https://privacy.microsoft.com/nl-nl/privacystatement/" class="text-bon-geel">privacybeleid</a>)</td>
                           
                            <td>Bon travel B.V. verzamelt via cookies anonieme gegevens over uw gedrag op de website en deelt deze met Microsoft (Bing).</td>
                            
                            <td>
                                
                                <ul class="list-disc p-7">
                                    
                                    <li>Het registreren van websitebezoeken om (mogelijk) gepersonaliseerde advertenties via het netwerk van Bing Ads te tonen (Retargeting);</li>
                                    
                                    <li>Het inzichtelijk maken van zoekgedrag op de Bing zoekmachine om de Bon travel B.V. website beter vindbaar te maken;</li>
                                
                                </ul>
                            
                            </td>
                        
                        </tr>

                        <tr>
                            <td> 

                                <p class="mb-3"><a href="www.linkedin.com" class="text-bon-geel">LinkedIn</a> (<a href="https://www.linkedin.com/legal/privacy-policy?trk=uno-reg-guest-home-privacy-policy" class="text-bon-geel">privacybeleid</a>)</p>
                                
                                <p class="mb-3"><a href="www.pinterest.com" class="text-bon-geel">Pinterest</a> (<a href="https://about.pinterest.com/nl/privacy-policy" class="text-bon-geel">privacybeleid</a>)</p>
                                
                                <p class="mb-3"><a href="www.twitter.com" class="text-bon-geel">Twitter</a> (<a href="https://twitter.com/en/privacy" class="text-bon-geel">privacybeleid</a>)</p>

                            </td>

                            <td>Bon travel B.V. verzamelt via cookies anonieme gegevens over uw gedrag op de website in relatie tot uw gedrag op LinkedIn, Pinterest en Twitter.</td>

                            <td>

                                <ul class="list-disc p-7">
                                    
                                    <li>Het bijhouden van statistieken over social media uitingen en deelacties van informatie op de Bon travel B.V. website op LinkedIn, Pinterest en Twitter.</li>
                                
                                </ul>

                            </td>

                        </tr>

                    </tbody>
                     	
                </table>

            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">
        
            <div id="privacybeleid-4" class="my-5">
                
                <h1 class="text-xl font-extrabold">Recht op inzage, correctie en verwijdering</h1>               
                
                <p class="mt-3 mb-16">U heeft te allen tijde, na een schriftelijk verzoek, het recht tot inzage in uw persoonsgegevens die bij Bon travel B.V. zijn opgeslagen. Tevens heeft u het recht om, na een schriftelijk verzoek, uw gegevens te laten wijzigen of verwijderen. U kunt uw schriftelijke verzoek richten tot bovenstaand adres.</p>
            
            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">
        
            <div id="privacybeleid-5" class="my-5">
                
                <h1 class="text-xl font-extrabold">Beveiliging van uw persoonsgegevens</h1>
                
                <div class="mt-3 mb-16">
                    
                    <p>Bon travel B.V. heeft de volgende veiligheidsmaatregelen ingevoerd om het verlies en onrechtmatig gebruik van informatie die Bon travel B.V. ontvangt te voorkomen:</p>
    
                    <ul class="list-disc mx-20 mt-6">
                        
                        <li>SSL-certificaat: een beveiligde verbinding tussen uw browser en de server, zodat uw gegevens niet onderschept kunnen worden;</li>
                        
                        <br>
                        
                        <li>Bon travel B.V. controleert de website regelmatig op beveiligingsproblemen en neemt de nodige maatregelen om deze op te lossen;</li>
                        
                        <br>
                        
                        <li>De website wordt 24/7 gemonitord op ongebruikelijke wijzigingen om inbraken direct te detecteren;</li>
                        
                        <br>
                       
                        <li>De PC’s zijn voorzien van up-to-date virusscanners om het lekken van persoonsgegevens te voorkomen.</li>
                    
                    </ul>
                
                </div>
                    
            </div>

            <hr class="border border-bon-blau-donker w-full rounded-b-lg flex justify-center my-7">
        
            <div id="privacybeleid-6" class="my-5">
                
                <h1 class="text-xl font-extrabold">Wijzigingen privacybeleid</h1>
                               
                <p class="mt-3 mb-7">Bon travel B.V. behoudt zich het recht voor dit privacybeleid aan te passen. Wijzigingen zullen op de website worden gepubliceerd en u wordt opnieuw gevraagd om akkoord te gaan.</p>
            
            </div>

        </div>

    </section>

    <reusable-footer></reusable-footer>

</body>
</html>




